$primarycolor: #eb1f48;
$primaryshadedark: #c50236;

$secondarycolor: #ffcc00;
$secondaryshadedark: #ffbb00;

$whiteshade1: #fafafa;
$whiteshade2: #dedede;
$whiteshade3: #bfbfbf;

$blackshade1: #010101;
$blackshade2: #101010;
$blackshade3: #333333;
$blackshade4: #505050;
$blackshade5: #666666;
$blackshade6: #888888;

// $tertiarycolor: #88bbee;
$tertiarycolor: #5288bb;


$heroheight: 84vh;

$abouttitlepad: 20px;


$edumargin-1: 30px;

$edudot: 15px;


$aboutbordercolor: red;